-var paginas = ["Inicio","Nosotros","Servicios","Clientes","Contactos"]
ul
	li: a(href="inicio.html") 	Inicio
	li: a(href="nosotros.html") Nosotros
	li: a(href="servicios.html") Servicios
	li: a(href="clientes.html") Clientes
	li: a(href="contactos.html") Contactos
