-var sitio = "HTML 5 desde cero"
-var titulo = "Proyecto de fin de curso"
-var descripcion = "Este es el proyecto final del curso HTML5"
-var paginas = ["inicio","nosotros","servicios","clientes","contacto"]
-var paginaActual = "inicio"
