extends templates/template.jade

append config
	-titulo = "Servicios"
	-paginaActual = "servicios"

block main
	h1 Servicios
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis rem eius doloribus labore dolor ipsam veniam quaerat nam, magni libero cupiditate officiis, ut voluptatum voluptate asperiores maxime id, unde repudiandae quos dolorem alias commodi soluta culpa? Maiores magnam praesentium voluptas blanditiis cupiditate, vero at quis! Reiciendis perferendis, voluptates delectus eum?
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis rem eius doloribus labore dolor ipsam veniam quaerat nam, magni libero cupiditate officiis, ut voluptatum voluptate asperiores maxime id, unde repudiandae quos dolorem alias commodi soluta culpa? Maiores magnam praesentium voluptas blanditiis cupiditate, vero at quis! Reiciendis perferendis, voluptates delectus eum?

block aside
	h2 Siguenos en facebook
	a(href="#") Seguir