
h1.title-size {
	font-size:10px;
	color: blue;
}

h6.title-size {
	font-size: 36px;
	color:green;
}

img {
	width:250px;
	height:auto;
}

/* Estilo pagina 2 */
.logo {
	width: 80px;
	height:auto;
}

/*Estilos pagina listas Y TABLAS */
body.listas {
	padding-bottom:25em;
}

table {
	border: 1px #E9E9E9 solid;
	margin-bottom: 1em;
	width:100%;
	border-collapse: collapse;
}

td,th {
	border:  1px #E9E9E9 solid;
	text-align: center;
	line-height:2em;
}

tr {
	weight:100px;
}

tr:hover {
	background-color: #B0B0B0;
}

th {
	background-color:#eee444;
}

.blue {
	background-color: #79CEE7;
}


/* Archivo imagenes */
.tumblr {
	max-width:100%;
	height:auto;
}